button,
input {
    margin: 5px;
}

.UCPC {
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

.UCPC__title {
    text-align: center;
    font-size: x-large;
}

.UCPC__subtitle {
    font-size: large;
    margin: 5px;
}

.UCPC__section-left {
    float: left;
    width: 55%;
}

.UCPC__section-right {
    float: right;
    width: 40%;
}

.UCPC__margined {
    margin: 5px;
}

.UCPC__bold {
    font-weight: bold;
}

.UCPC__italic {
    font-style: italic;
}

.UCPC__marginless {
    margin: 0%;
}

.UCPC__padded {
    padding: 0px 5px 5px 5px;
}

.Modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.Modal__content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    border: 3px solid black;
    width: 80%;
    height: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.Modal__close {
    float: right;
    font-size: 50px;
    margin-top: -15px;
}

.Modal__close:hover,
.Modal__close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.Modal__header {
    color: white;
    padding: 10px 10px;
    background-color: lightgray;
    font-size: x-large;
}

.Modal__table {
    border-collapse: collapse;
    width: 100%;
}

.Modal__table td,
.Modal__table th {
    border: 1px solid black;
    padding: 8px;
    color: white;
}

.Modal__table tr:hover {
    background-color: lightgray;
}

.Modal__table th {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    background-color: lightgray;
    color: black;
}

.Modal__table-borderless {
    width: 100%;
}

.Modal__table-borderless th {
    text-align: left;
    font-weight: bold;
}

.Modal__tabbed {
    margin-left: 40px;
}

.Modal__center {
    position: fixed;
    right: 50%;
}

.Modal__center-left {
    position: fixed;
    right: 40%;
}

.Modal__bottom {
    position: fixed;
    bottom: 5%;
}

.Modal__bottom-higher {
    position: fixed;
    bottom: 10%;
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}